.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
     fill: grey;
}	

.axis line{
  stroke: grey;
}

.axis path{
  stroke: grey;
}

.startAnimationButton {
	/*font-color: "black";*/
}

.countryNameDiv {
	font-size: 25px;
	color: white;
	background-color: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: .5px;
}